<main class="main">
  <header>
    <h1>4 - Yu</h1>
  </header>
  <section> 
    <h2>Hola</h2>
    <h2>Привет</h2>
    <h2>Hello</h2>
    <h2>Hola</h2>
  </section>
    <h2>Aquí pots aprendre</h2>
    <h2>Here you can learn</h2>
    <h2>Aquí puedes aprender</h2>
    <h2>Здесь вы можете узнать</h2>
  <section>
  </section>
  <section>
    <form>
      <div>
        <div>
          <div>
            <label for="language-learning">Which language do you speak?</label>
            <label for="language-leaning">Qué idioma hablas</label>
            <label for="language-leaning">Quina llengua parlas</label>
            <label for="language-leaning">на каком языке ты говоришь</label>
          </div>
          <div id="language-speaking" name="language-speaking" required>
            <button value="spanish">Español</button>
            <button value="catalan">Catal</button>
            <button value="russian">Russian</button>
            <button value="english">English</button>
          </div>
        </div>
        <div id="language-to-learn" name="language-learning" required>
          <button value="spanish">Spanish</button>
          <button value="catalan">Catalan</button>
          <button value="russian">Russian</button>
          <button value="english">English</button>
        </div>

      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea>
      <button type="submit">Send</button>
    </form>
    <form>

    </form>
  </section>
</main>

<router-outlet />
